services:
  nginx:
    image: nginx:1.25
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app:/app
    depends_on:
      - php-fpm
  php-fpm:
    build: ./.docker/php/fpm
    env_file:
      - ./.env
    volumes:
      - ./.docker/php/fpm/php.ini:/usr/local/etc/php/php.ini
      - ./.docker/php/fpm/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ./app:/app
    depends_on:
      mysql:
        condition: service_healthy
    working_dir: /app
  mysql:
    image: mysql:8.0.32
    env_file:
      - ./.env
    ports:
      - ${MYSQL_HOST_PORT}:3306
    volumes:
      - ./.docker/.mysql:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 5s
      timeout: 5s
      retries: 20
  redis:
    image: redis:7.0.8
    ports:
      - ${REDIS_HOST_PORT}:6379
    volumes:
      - ./.docker/.redis:/data
